
  <div class="container-fluid">
    <div class="row">
      <!-- Sidebar -->
      <div class="col-md-4 col-lg-3 sidebar p-3">
        <ul class="list-group">
          <li class="list-group-item active">
            <div class="d-flex align-items-center">
              <img src="https://via.placeholder.com/40" alt="Avatar" class="rounded-circle me-2">
              <span>User 1</span>
            </div>
          </li>
          
        </ul>
      </div>

      <div class="col-md-8 col-lg-9 chat-window p-3">
        <div class="chat-box mb-3">
         
          <div class="chat-bubble user">
            <p>Hello, how are you?</p>
          </div>
          <div class="chat-bubble receiver">
            <p>I'm good, thanks! How about you?</p>
          </div>
        </div>

        <!-- Input Box -->
        <div class="input-group">
          <input type="text" class="form-control" placeholder="Type a message...">
          <button class="btn btn-primary">Send</button>
        </div>
      </div>
    </div>
  </div>

 